body {
  font-family: "Poppins", sans-serif;
}

/* Hero section */
#hero,
#menu {
  background-color: #264653;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

#hero .nav-link {
  color: #fff;
  font-size: 1rem;
}

#hero .btn-login {
  width: 5.625rem;
  height: 2.75rem;
}

.banner-heading,
.banner-text {
  color: #fff;
}

.banner-heading {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 24px;
}

.banner-text {
  font-size: 0.875rem;
  font-weight: 300;
}

.banner-text-big {
  font-weight: 300;
  line-height: 1.5;
  color: #e0e0e0;
  margin: 1.25rem 0;
}

.btn-purchase {
  width: 10.5rem;
  height: 2.75rem;
  padding: 10px;
  background: #e76f51;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

#hero .btn-purchase:focus,
#hero .btn-purchase:active {
  outline: none;
  box-shadow: none;
}

#hero .btn-purchase:hover {
  color: #fff;
  background-color: #e56342;
}

#hero .btn-primary:hover {
  border-color: #e76f51;
}
/* End of hero section  */

/* Featured Bikes */
#featured-bikes {
  padding: 6.25rem 0 4.5rem 0;
}

.section-heading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 24px;
}

.sub-heading {
  font-size: 0.875rem;
  font-weight: 600;
  color: #e76f51;
  position: relative;
  padding-bottom: 5px;
}

.bike-color {
  mix-blend-mode: luminosity;
}
/* End of Featured Bikes  */

/* Latest news  */
.latest-section-heading {
  font-size: 2.25rem;
  font-weight: 600;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 35px;
}

.card-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #6c6c6c;
  line-height: 28px;
}

.btn-primary {
  background: #e76f51;
  border-color: #e76f51;
}

.btn-primary:hover {
  background: transparent;
  color: #e76f51;
}

.btn-outline-primary {
  color: #e76f51;
  border-color: #e76f51;
}

.btn-outline-primary:hover {
  background-color: #e76f51;
  color: #fff;
}

.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-primary:active,
.btn-primary:focus {
  outline: none;
  box-shadow: none;
  border-color: #e76f51;
}

#latest-news .btn:hover,
#latest-news .btn:focus {
  border: 1px solid #e76f51;
}
/* End of Latest news  */

/* Testimonial section  */
#testimonials .latest-section-heading {
  width: 65%;
  line-height: 54px;
}
.latest-section-heading span {
  color: #e76f51;
}

#testimonials .card-text {
  font-size: 1rem;
  color: #6c6c6c;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 400;
}

.name,
.occupation {
  font-size: 0.875rem;
  font-weight: 600;
  color: #23a6f0;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.occupation {
  color: #000;
  line-height: 0;
}
/* End of Testimonial section  */
